*.gcode
*.stl
*.pyc
__pycache__
gcode_transform_1_backup.py
temp_main_2.py
.vscode/settings.json
output.gcode
dist
build
gui.spec
test_files/getLineParams.m
test_files/Matcontrol.m
test_files/test_pa_outline_fein_2_offset_out.txt
test_files/test_pa_outline_fein_2_planar_out.txt
test.py
VID_20231115_151814858.mp4
test_files/*.ini
